.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h1 {
    text-align: center;
}

.auth-form input[type="text"] {
    background-color: #F4F4F4;
    padding: 12px;
    font-weight: lighter;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
}

.auth-form input[type="password"] {
    background-color: #F4F4F4;
    padding: 12px;
    font-family: "Onest", sans-serif;
    font-weight: lighter;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
}

.auth-form input[type="submit"] {
   background-color: #00C0C6;
   width: auto;
   padding: 12px;
   font-family: "Onest", sans-serif;
    color: #F4F4F4;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 234px;
}

.auth-form * {
    margin: 12px;
    width: 210px;
}
