header {
    background-color: #00C0C6;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    height: 10vh;
}

header .left-side {
    display: flex;
    align-items: center;
}

header button {
    font-family: "Onest", sans-serif;
    color: #00C0C6;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
    background-color: white;
}

header .right-side {
    display: flex;
    align-items: center;
    color: white;
}

header img {
    width: 24px;
    margin-right: 12px;
}

.patients-side {
    background-color: #F2F2F2;
    height: 90vh;
    width: 240px;
}

.patients-side .search {
    width: 240px;
    display: flex;
    justify-content: space-around;
    padding-top: 4px;
}

.patients-side .search input {
    width: 170px;
    background-color: #F4F4F4;
    padding: 6px;
    color: #212121;
    outline: none;
    border: solid 2px white;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
    font-size: 10px;
}

.patients-side .search button {
    width: 36px;
    background-color: white;
    padding: 6px;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
    font-size: 10px;
}


.patients-side .search .arrow {
    color:#00C0C6;
}

.patients-side .patients-list {
    overflow-y: scroll;
    scrollbar-width: none;
    height: calc(90vh - 90px);
    margin-top: 7px;
}

.patients-side .patients-list * {
    background-color: white;
    margin: 5px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    width: 220px;
    border: 1px solid white;
    height: 42px;
    border-radius: 5px;
    font-weight: bold;
}

.patients-side .patients-list .active {
    border-color: #00C0C6;
}

.add-patient {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C0C6;
    color: #F2F2F2;
}

.modal-background {
    background-color: #00000099;
    /* opacity: 0.5; */
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.modal {
    position: absolute;
    height: 90%;
    width: 25%;
    top: 5%;
    left: 37.5%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.modal h3 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 4px;
}

.modal p {
    margin: 0px;
    margin-bottom: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-form input[type="text"] {
    background-color: #F4F4F4;
    padding: 12px;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
}

.modal-form input[type="number"] {
    background-color: #F4F4F4;
    padding: 12px;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
}

.modal-form select {
    width: 100%;
    background-color: #F4F4F4;
    padding: 12px;
    color: #212121;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "Onest", sans-serif;
}

.modal-form .input_block {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 4px;
}

.modal .buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.modal .buttons .cancer {
    width: 9vw;
    background-color: #D0FDFF;
    padding: 12px;
    font-family: "Onest", sans-serif;
    color: #00C0C6;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 4px;
}

.modal .buttons .apply {
    width: 9vw;
    background-color: #00C0C6;
    padding: 12px;
    font-family: "Onest", sans-serif;
    color: #F2F2F2;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 4px;
}